@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.Profile-card{
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;

}

.Profile-card::after{
    border-radius: 50%;
}

.Profile-card::before,
.Profile-card::after{
    content: '';
  position: absolute;
  z-index: -1;
}

.Profile-card::before{
    width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}

.Profile-card::after {
    height: 15rem;
    width: 15rem;
    background-color: #4172f5aa;
    top: -8rem;
    right: -8rem;
    box-shadow: 2rem 6rem 0 -3rem #FFF
  }

  .capitalize::first-letter {
    text-transform: uppercase;
  }